<footer class=bg-secondary>
    <div class="container-lg container-fluid bg-secondary">
    <div class="row pt-3 px-3">
    <div class="col-12 col-md-6 my-3 p-0"><a href=/home id=brand-logo><img src="/images/escorted-logo.webp" alt="company logo"></a></div>
    <p class="text-white p-0">Escorted Holidays is one of India’s most personalized and prompt in communication, B2B inbound tour operators; Escorted Holidays was established in 2010 handling tourists from all over the world. All these years have earned us the goodwill and reputation of not having lost any single account of world’s leading wholesalers and retailers and continuously serving their valued clients year after year. This endorsement of our professionalism by travel industry leaders has had a salutary effect on business growth and expansion. We are truly dedicated in helping you organize your next vacations in our colourful India and we will always do our utmost to provide you with the most up-to-date information, advice and assistance for the best possible travel experience. Escorted Holidays is recognized by the Ministry of Tourism, as a tour operator and travel agent. </p>
    <div class="col-12 col-md-6 p-0">
    <ul class="footer-links text-white p-0 m-0">
    <h3 class=my-2>Quick Links</h3>
    <li><a href=/home><i class="ri-arrow-right-s-line me-2 text-primary"></i>Home</a></li>
    <li><a href=javascript:void onclick='scrollToTarget("#contact")'><i class="ri-arrow-right-s-line me-2 text-primary"></i>Contact</a></li>
    <li><a href=/packages/all><i class="ri-arrow-right-s-line me-2 text-primary"></i>Packages</a></li>
    <li><a href=/about><i class="ri-arrow-right-s-line me-2 text-primary"></i>About Us</a></li>
    </ul>
    </div>
    </div>
    <hr class="text-white my-4">
    <div class="row text-white">
    <div class="col-12 col-md-4">
    <h3>Book Your Holiday</h3>
    <p><a href=tel:7889515155 class=text-white><i class="ri-phone-fill me-2 text-primary pointer"></i> +91 7889515155</a></p>
    </div>
    <div class="col-12 col-md-4">
    <h3>Email Us</h3>
    <p><a href=mailto:escortedholidays110@gmail.com class=text-white><i class="ri-mail-send-line text-primary me-2"></i>
    escortedholidays110@gmail.com</a></p>
    </div>
    <div class="col-12 col-md-4">
    <h3>
    Follow Us
    </h3>
    <ul class="social-media-icons p-0 m-0">
    <li><a href="https://www.facebook.com/EscortedHolidayAdvice?mibextid=ZbWKwL"><i class="ri-facebook-circle-fill me-2"></i></a></li>
    <li><a href="https://www.instagram.com/escortedholidays?igsh=MTdtMnV3Njc4NmVlaA=="><i class="ri-instagram-fill me-2"></i></a></li>
    <li><a href="https://youtube.com/@escortedholidays?si=e8pawqSrQEpztA7c"><i class=ri-youtube-fill></i></a></li>
    </ul>
    </div>
    </div>
    <hr class="text-white my-4">
    <div class=row>
    <ul class=other-links>
    <li><a href=/privacy-policy class=text-white>Privacy Policy</a></li>
    <li><a href=/refund-policy class=text-white>Refund Policy</a></li>
    </ul>
    </div>
    <hr class="text-white mt-4 mb-0">
    <p class="text-center py-3 text-white m-0">Copyright &copy; 2024 All Rights Reserved</p>
    </div>
    </footer>