
<header class=sticky-top>
    <div class="container-fluid d-flex justify-content-md-center align-items-center details py-2">
    <a class="navbar-brand text-white" href=/home><img src=/images/Picture1.jpg alt="" style=height:70px></a>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container-lg">
    <button class="navbar-toggler p-0" type=button data-bs-toggle=collapse data-bs-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation">
    <i class="ri-menu-line text-white fs-3"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center py-3 py-lg-0" id=navbarSupportedContent>
    <ul class="navbar-nav mb-2 mb-lg-0">
    <li class=nav-item>
    <a class="nav-link text-white" aria-current=page href=/home>Home</a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white px-0" href=# role=button data-bs-toggle=dropdown aria-expanded=false>
    Packages <i class=ri-arrow-drop-down-line></i>
    </a>
    <ul class="dropdown-menu rounded-0">
    <li><a class=dropdown-item href=/packages/domestic>Domestic</a></li>
    <li><a class=dropdown-item href=/packages/international>International</a></li>
    <li><a class=dropdown-item href=/packages/adventure>Adventure</a></li>
    </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white px-0" href=# role=button data-bs-toggle=dropdown aria-expanded=false>
    Destinations <i class=ri-arrow-drop-down-line></i>
    </a>
    <ul class="dropdown-menu rounded-0 destinations">
    <li><a class=dropdown-item href=#>Kashmir</a></li>
    <li><a class=dropdown-item href=#>Gurez valley</a></li>
    <li><a class=dropdown-item href=#>Kishtwar</a></li>
    <li><a class=dropdown-item href=#>Ladakh</a></li>
    <li><a class=dropdown-item href=#>Zanaskar</a></li>
    <li><a class=dropdown-item href=#>Kargil</a></li>
    <li><a class=dropdown-item href=#>Amritsar</a></li>
    <li><a class=dropdown-item href=#>Delhi</a></li>
    <li><a class=dropdown-item href=#>Agra</a></li>
    <li><a class=dropdown-item href=#>Jaipur</a></li>
    <li><a class=dropdown-item href=#>Jodhpur</a></li>
    <li><a class=dropdown-item href=#>Jaisalmer</a></li>
    <li><a class=dropdown-item href=#>Manali</a></li>
    <li><a class=dropdown-item href=#>Shimla</a></li>
    <a href="" class="btn text-center text-white">Veiw All</a>
    </ul>
    </li>
    <li class=nav-item>
    <a class="nav-link text-white" aria-current=page href=/about>About Us</a>
    </li>
    <li class=nav-item>
    <a class="nav-link text-white pointer" onclick="scrollToTarget('#contact')" id="contact-btn">Contact</a>
    </li>
    <li class=nav-item>
    <a class="nav-link text-white" href=/team>Our Team</a>
    </li>
    <li class=nav-item>
    <a class="nav-link text-white" href=/gallery>Gallery</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <div class="phone p-1 bg-white d-flex flex-column">
    <a href=tel:7889515155><i class="ri-phone-fill fs-2 text-success me-2"></i></a>
    <a href="https://api.whatsapp.com/send?phone=+7889515155&text=Hello%20there!"><i class="ri-whatsapp-fill fs-2 text-success"></i></a>
    <a href=mailto:escortedholidays110@gmail.com><i class="ri-mail-send-fill fs-2 text-danger"></i></a>
    </div>
    </header>