<header class="sticky-top">
    <div class="container-fluid d-flex justify-content-center align-items-center details py-2">
        <a class="navbar-brand text-white mx-2" href="#"><i class="ri-flight-takeoff-fill"></i></a>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid container-lg">
            <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="ri-menu-line text-white fs-3"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center py-3 py-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#">Packages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white px-0" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Destinations <i class="ri-arrow-drop-down-line"></i>
                        </a>
                        <ul class="dropdown-menu rounded-0">
                            <li><a class="dropdown-item" href="#">Ladakh</a></li>
                            <li><a class="dropdown-item" href="#">Kargil</a></li>
                            <li><a class="dropdown-item" href="#">Nepal</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Our Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>