<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>About Us: Escorted Holidays</title>
<link rel="shortcut icon" href=/images/Picture1.jpg type=image/x-icon>
<%- include('partials/headlinks') %>
<style>ul li{display:block}</style>
</head>
<body>
<%- include('partials/navbar') %>
<div class="container-lg conatainer-fluid my-5">
<h1><i class="ri-profile-fill me-2"></i>Escorted Holidays Company Profile</h1>
<p><strong>Escorted Holidays</strong> is a privately held B2B travel management company founded in 2010 by
<strong>
Mr. Mushtaq Hussain Dar
</strong>as a CEO of the company. Mr. Mushtaq Hussain Dar realized the travel management services required by corporations were beyond the resources of most travel agencies. <strong>Mr. Mushtaq Hussain Dar has</strong>
qualified for Masters in Tourism Management. He has done a tourist facilitator course from Indian Institute of Hotel Management and Catering Technology. He has done a 2 year’s diploma in computer Hardware and LAN Engineering from Jetking School of Electronics. He participated in many Travel Trade Fairs, competitions, cultural programs & events and social work in India. He trained various trainee Students through Escorted Holidays for starting their own Travel Business. He has participated in International Workshops. He was selected as a volunteer for the promoter of Culture, Art & Tourism in a Country “Papua New Guinea” by the United Nations funded Australian based organisation “Seeds Theatre Group”. He has received an appreciation letter from a Boeing Emirates Pilot for providing the best tour service in India. He has received Best Awarded certificate from a Chennai Based top Company “SBLT, Sri Bhagyalakshmi Travel Access”. <strong>
He is a Tax Payer Person having GSTIN no. : 01BFXPD8428J1Z5.
</strong> He understood the need to customize and personalize corporate travel programs.</p>
<p>Our mission is to provide Quality and excellence to our customers promptly and exclusively. All the professionals at <strong>Escorted Holidays</strong> are masters of their trade and each brings with him/her a unique set of experience adding value to the traveler's overall experience of the country. To put it simply, we know what a traveler anticipates and more than that we know what it takes to satisfy them. </p>
<p>India, an ever demanding destination for people for centuries, because it is so diverse and yet one. India represents a kaleidoscope of color and festivals, perfumes and aromas, cuisine and costume. To visit India is itself a reason but is a pleasure if blended with experienced people to guide the excursion. Escorted Holidays, a company with a delegation of people with powerful experience knows its way around. Our enhanced website,<strong> <a href=http://www.myholidayadvice.com>www.myholidayadvice.com</a></strong> can provide you vast knowledge about all the destinations of India about all Leisure & Adventure Tour Packages.</p>
<h2><i class="ri-sound-module-fill me-2"></i>Management</h2>
<p>The management of the company is in the hands of its highly experienced founder CEO <strong>Mr. Mushtaq Hussain</strong>
Dar, who has a vast experience in travel management & is a well known figure in the travel circles of India. </p>
<p>
Escorted Holidays is one of India’s most personalized and prompt in communication, B2B inbound tour operators; Escorted Holidays was established in 2010 handling tourists from all over the world. All these years have earned us the goodwill and reputation of not having lost any single account of world’s leading wholesalers and retailers and continuously serving their valued clients year after year. This endorsement of our professionalism by travel industry leaders has had a salutary effect on business growth and expansion. We are truly dedicated in helping you organize your next vacations in our colourful India and we will always do our utmost to provide you with the most up-to-date information, advice and assistance for the best possible travel experience. Escorted Holidays is recognized by the Ministry of Tourism, as a tour operator and travel agent.
</p>
<h4><i class="ri-flight-takeoff-line me-2"></i>Tours of India</h4>
<p>We have been operating a variety of activity-based tours for our Groups and Individual tourists and have been able to mastermind them with great deal of efficiency. The company specializes in inbound tours and offers a host of tourism related services to inbound tourists in India. </p>
<h4><i class="ri-calendar-schedule-line me-2"></i>Itinerary Planning and Tailor Made Holiday</h4>
<p>We have long been helping our guests with necessary arrangements in many exciting programs, and we shall take pleasure in doing so for you at any given point of time. Just tell us the time of arrival & departure, the total duration of travel and your approximate budget. Leave the rest to us. </p>
<p>
Good things happen when you listen to your customers. Quietly your business grows as satisfied clients drive meaningful initiatives that other potential clients want. Success breeds success and the reputation for responsiveness is earned, becoming known in the marketplace.
</p>
<h4><i class="ri-goggles-fill me-2"></i>Our vision</h4>
<p>Our vision is to be recognized as a leading provider of quality travel and tourism related services. The company is headed by a core-team of experienced and dedicated professionals. Our team leaders have more than 15 years experience in their respective fields. The team members are young, qualified and motivated; we offer a dynamic and modern approach to travel and destination management. Over the years, as emerging professionals our team leaders have extended their services to several distinguished travelers. They have also handled numerous prestigious incentive groups and conferences.</p>
<h4><i class="ri-service-fill me-2"></i>Our services</h4>
<ul>
<li><i class="ri-arrow-right-fill me-2"></i>Hotel and Resort Reservation</li>
<li><i class="ri-arrow-right-fill me-2"></i>Conference, Meeting and Banquet Booking</li>
<li><i class="ri-arrow-right-fill me-2"></i>Group Incentives</li>
<li><i class="ri-arrow-right-fill me-2"></i>Meet and Greet Assistance</li>
<li><i class="ri-arrow-right-fill me-2"></i>Airport Transfers</li>
<li><i class="ri-arrow-right-fill me-2"></i>Car Rentals for Sightseeing</li>
<li><i class="ri-arrow-right-fill me-2"></i>Educated and qualified Guides</li>
<li><i class="ri-arrow-right-fill me-2"></i>Tour Packages</li>
<li><i class="ri-arrow-right-fill me-2"></i>Houseboat Bookings</li>
<li><i class="ri-arrow-right-fill me-2"></i>Adventure tours</li>
<li><i class="ri-arrow-right-fill me-2"></i>Trekking and Nature Expeditions</li>
<li><i class="ri-arrow-right-fill me-2"></i>Golfing</li>
<li><i class="ri-arrow-right-fill me-2"></i>Trout Fishing</li>
<li><i class="ri-arrow-right-fill me-2"></i>Escorted Tours</li>
<li><i class="ri-arrow-right-fill me-2"></i>Educational Tours</li>
<li><i class="ri-arrow-right-fill me-2"></i>Student Tours</li>
<li><i class="ri-arrow-right-fill me-2"></i>Historical Tours</li>
</ul>
<h4><i class="ri-focus-2-line me-2"></i>Our Objective</h4>
<ul>
<li><i class=ri-arrow-right-fill></i>To bring a wide selection of products and services in the field of travel and tourism. </li>
<li><i class=ri-arrow-right-fill></i>To satisfy the needs and travel requirements of both leisure and business travellers. </li>
<li><i class=ri-arrow-right-fill></i>To keep qualified staff to make sure that all arrangements and special requests are fulfilled to the expectations of our clients. </li>
<li><i class=ri-arrow-right-fill></i>To maintain sustainable growth and profit for the company. </li>
</ul>
<h4><i class="ri-team-fill me-2"></i>Our Strength</h4>
<ul>
<li><i class="ri-arrow-right-fill me-2"></i>Strong financial standing of the company </li>
<li><i class="ri-arrow-right-fill me-2"></i>Direct business relation and purchasing power with our associates </li>
<li><i class="ri-arrow-right-fill me-2"></i>Our instant response with all the latest communication facilities such as: telephony, e-mail, online chat and mobile communication </li>
<li><i class="ri-arrow-right-fill me-2"></i>Our professional and qualified human resource </li>
<li><i class="ri-arrow-right-fill me-2"></i>24 Hrs. Call receiving facility </li>
</ul>
</div>
<%- include('partials/footer') %>
<%- include('partials/footlinks') %>
</body>
</html>