<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>Privacy Policy: Escorted Holidays</title>
<link rel="shortcut icon" href=/images/Picture1.jpg type=image/x-icon>
<%- include('partials/headlinks') %>
<style>.points li{display:block;margin-top:20px}</style>
</head>
<body>
<%- include('partials/navbar') %>
<div class="container-lg container-fluid my-5">
<h1 class="text-center display-6">Privacy Policy for Escorted Holidays</h1>
<p>This Privacy Policy describes how Escorted Holidays collects, uses, and protects information collected from users of our tour and travel website <strong>myholidayadvice.com</strong>.
</p>
<div class=points>
<h2>Information We Collect</h2>
<p>We do not collect any personal information from users who visit our website.
</p>
<h2>Usage Information</h2>
<p>We may collect non-personal information about how users interact with our website, including IP addresses, browser types, operating systems, and pages visited. This information is used for analytical purposes to improve our website and services.
</p>
<h2>Third-Party Links</h2>
<p>Our website may contain links to third-party websites or services. We are not responsible for the privacy practices or content of these third-party sites.
</p>
<h2>Children's Privacy</h2>
<p>Our website is not directed to children under the age of 13, and we do not knowingly collect personal information from children.
</p>
</div>
</div>
<%- include('partials/footer') %>
<%- include('partials/footlinks') %>
</body>
</html>