<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>Refund Policy: Escorted Holidays</title>
<link rel="shortcut icon" href=/images/Picture1.jpg type=image/x-icon>
<%- include('partials/headlinks') %>
<style>.points li{display:block;margin-top:20px}</style>
</head>
<body>
<%- include('partials/navbar') %>
<div class="container-lg container-fluid my-5">
<h1 class="text-center display-6">Our Cancellation Policy is according to hotels</h1>
<ul class="m-0 p-0 points">
<li><i class="ri-arrow-right-fill me-2"></i>Reservation must be cancelled before 21 days from the date of arrival for free cancellation. </li>
<li><i class="ri-arrow-right-fill me-2"></i>Reservations cancelled between 15 to 21 days from the date of arrival will incur a cancellation fee equivalent to 50% of accommodation charge. </li>
<li><i class="ri-arrow-right-fill me-2"></i>Reservations cancelled within 15 days from the date of arrival will incur a cancellation fee equivalent to the entire length of stay. </li>
<li><i class="ri-arrow-right-fill me-2"></i>In case of early departure, retention equivalent to balance room nights will be levied.</li>
<li><i class="ri-arrow-right-fill me-2"></i>In case of no show, 100% retention equivalent to total room nights booked will be charged.</li>
<p class="text-center mt-4"><strong>Further, If you have any question you can contact us</strong></p>
</ul>
</div>
<%- include('partials/footer') %>
<%- include('partials/footlinks') %>
</body>
</html>