@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Yanone+Kaffeesatz&display=swap');
*{
    font-family: 'Overlock SC', sans-serif;
}
.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff8d1d;
    --bs-btn-border-color: #ff8d1d;
    --bs-btn-hover-bg: #f87c00;
    --bs-btn-hover-border-color: #f87c00;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff8d1d;
    --bs-btn-active-border-color: #ff8d1d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff8d1d;
    --bs-btn-disabled-border-color: #ff8d1d;
}


.dropdown-menu {
    --bs-dropdown-color: #fff;
    --bs-dropdown-bg: #001228;
    --bs-dropdown-border-color: #001228;
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #fff;
    --bs-dropdown-header-color: #f87c00;
    --bs-dropdown-link-active-bg: #f87c00;
    --bs-dropdown-link-hover-bg: #f87c00;

}
a{
    text-decoration: none;
}
.text-primary{
    color: #ff8d1d!important;
}
.bg-primary{
    background: #ff8d1d!important;

}
.bg-secondary{
    background-color: #001228!important;

}
.font-secondary{
    font-family: 'Salsa', cursive!important;
    
}
.pointer{
    cursor: pointer!important;
}
li{
    list-style-type: none;
    display: inline-block;
}

/* Navbar */
.navbar,.details{
    background-color: #001228!important;
}
.nav-item{
    position: relative!important;
    margin-left: 20px;
}
.nav-link:hover{
    color: #ff8d1d!important;
}
 .nav-item::after {
    content: ''!important;
    position: absolute!important;
    width: 100%!important;
    transform: scaleX(0);
    height: 2px!important;
    border-radius: 5px;
    bottom: 0!important;
    left: 0!important;
    background-color: 
    #ff8d1d!important;
    transform-origin: bottom right!important;
    transition: transform 0.25s ease-out!important;
    z-index: 4000!important;
  }
  .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .navbar-toggler{
border: 0;
}
  .navbar-toggler:focus{
    box-shadow: none!important;
  }
.dropdown-toggle::after{
    content: none;
}

@media screen and (max-width:992px) {
    .nav-item{
        margin-left: 0!important;
    }
    .nav-item::after{
        content: none!important;
    }
}

/* Footer*/

.footer-links li{
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    }
    .other-links li{
        display: block;
    }
    .footer-links li:hover{
        color: #f87c00;
    }
    .social-media-icons li{
        font-size: 25px;
    }
    .social-media-icons li:hover{
        color: #f87c00;
        cursor: pointer;
    }